<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Export to Ladok</title>
</head>
<body>
  <form method="post">
    <h2>Choose a Canvas assignment</h2>
    <select name="canvas_assignment">
      {{#each canvas}}
        <option value="{{id}}">{{name}}</option>
      {{/each}}
    </select>

    <h2>Choose a Ladok module</h2>
    <select name="ladok_module">
      {{#each ladok}}
        <option value="{{id}}">{{name}} - {{title}}</option>
      {{/each}}
    </select>

    <h2>Write the examination date</h2>
    <input type="date" name="examination_date">
    <input type="hidden" name="course_id" value={{course_id}} />
    <input type="hidden" name="access_token" value={{token}} />

    <button type="submit">Export to Ladok</button>
  </form>
  <script src="{{prefix_path}}/dist/index.js"></script>
</body>
</html>
